spring:
  application:
    name: json-to-sql-generator
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.yourcompany.jsontosql: DEBUG
    org.springframework.web: INFO

app:
  table-definitions:
    storage-path: ${user.home}/.json-to-sql/table-definitions
    default-path: classpath:table-definitions
